GtkWindow, GtkMenu, GtkImageMenuItem,
 GtkNotebook, GtkGrid,
GtkButton, GtkListBox {
    background: #004080;
}
/*GtkMenuItem,*/
GtkButton:hover, GtkMenuItem:hover {
    background: #0066cc;
}

GtkListBoxRow:selected {
    background: #990000;
}
GtkPaned. GtkScrolledWindow, GtkViewport {
    border: none;
}
GtkLabel {
    color: #fff;
}
